.dark-mode {
    background-color: color-mix(in srgb, black 10%, $grisOscuro);
    p {
        color: $blanco;
    }

    a,h1,h2,h3,h4 {
        color: $gris;
    }

    .anuncio, .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
    
        .icono {
            filter: invert(100%);
        }
    }

    .nosotros-texto blockquote, td {
        color: $blanco;
    }

    .formulario {
        label, legend, p{
            color: $gris;
        }

        input:not([type="submit"]), textarea, select {
            background-color: $grisOscuro;
            border: 1px solid $gris;
            color: $blanco;
        }
    }
}